<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>835951794646-qed0fqam2c9fp5tj9gk36fd6gjqfh9js.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.835951794646-qed0fqam2c9fp5tj9gk36fd6gjqfh9js</string>
	<key>API_KEY</key>
	<string>AIzaSyDRCBvRVPIgyB_Ijnr1PrNC3gsGDh-Qsj8</string>
	<key>GCM_SENDER_ID</key>
	<string>835951794646</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chappie</string>
	<key>PROJECT_ID</key>
	<string>chappie-56825</string>
	<key>STORAGE_BUCKET</key>
	<string>chappie-56825.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:835951794646:ios:083b2d45c12d60075cac77</string>
</dict>
</plist>